@charset "UTF-8";

.header-top {
  background: url(../images/about/about-main.jpg);
  background-size: cover;
  background-position: center;
  height: 490px;
  /* 高さは背景画像に合わせて */
  position: relative;
  /* h1を絶対配置するための基準に */
}

h1 {
  /* font-size: 60px; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.main {
  /* max-width: 1000px; */
  margin-right: auto;
  margin-left: auto;
}

.main img {
  border-radius: 20px;
}

h2 {
  text-align: center;
  margin: 30px auto;

}

h2::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 90px;
  background-image: url('../images/logo/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-bottom: 15px;
}

/* .about-crab h2::after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url('../images/character/kani.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-bottom: 15px;
} */


/* キャラクターアニメーション　ここから */
.title-container {
  display: flex;
  justify-content: center;
  /* 水平方向の中央揃え */
  align-items: center;
  /* 垂直方向の中央揃え */
  gap: 10px;

}

/* 画像を入れる枠のサイズを指定 */
.image-box {
  position: relative;
  width: 80px;
  /* 画像の横幅 */
  height: 80px;
  /* 画像の高さ */
  bottom: 10px;
}

.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* 1枚目：左→右へ動きながら点滅 */
.img-a {
  animation: moveA 2.0s infinite;
}

/* 2枚目：1枚目と逆のタイミングで点滅＋同じ動き */
.img-b {
  animation: moveB 2.0s infinite;
}


/* A の動き（表示→非表示＋横移動） */
@keyframes moveA {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateX(15px);
  }

  50.01% {
    opacity: 0;
    transform: translateX(15px);
  }

  100% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }
}


/* B の動き（A と逆のタイミング） */
@keyframes moveB {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateX(15px);
  }

  50.01% {
    opacity: 1;
    transform: translateX(15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }

}

/* キャラクターアニメーション　ここまで　*/

section {
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.summary {
  font-size: 24px;
  padding-right: 40px;
  padding-left: 40px;
}


.about-crab {
  margin-top: 0;
  background-color: #fffaaa;
  padding: 35px;
  border-radius: 20px;

}

.section-item>div:first-child {
  text-align: left;
}

.text-title {
  font-size: 32px;
  text-align: left;
  text-align-last: center;
  margin-right: 40px;
}

.section-item {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}



.section-item img {
  width: 400px;
}

.description {
  max-width: 450px;
  margin-right: 40px;
  padding-top: 2em;
  line-height: 1.5em;
  text-align: left;
}

.description p {
  padding-bottom: 1em;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse>div:first-child {
  margin-left: 40px;
  margin-right: 0;
}

.crab-naming img {
  background-color: #e6e6e6;
}

.ecology-feed-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;
  width: 400px;
  aspect-ratio: 4 / 3;
  gap: 4px;
}

.ecology-feed img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.ecology-feed img:nth-of-type(n + 2) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ecology-feed img:nth-of-type(2) {
  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 1;
  grid-column-end: auto;
  /* 行の2本目から3本目のグリッドラインまで */
  grid-row-start: 2;
  grid-row-end: auto;
}

.ecology-feed img:nth-of-type(3) {
  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 2;
  grid-column-end: auto;
  /* 行の2本目から3本目のグリッドラインまで */
  grid-row-start: 2;
  grid-row-end: auto;
}

.ecology-feed img:nth-of-type(4) {
  /* 列の1本目から2本目のグリッドラインまで */
  grid-column-start: 3;
  grid-column-end: auto;
  /* 行の2本目から3本目のグリッドラインまで */
  grid-row-start: 2;
  grid-row-end: auto;
}

.ecology-growth img {
  background-color: #e6e6e6;
  padding: 15px;
}

.history-fishing.section-item {
  margin-top: 0px
}

.about-history h2 {
  margin: 0;
}

.about-history h2::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
  background-image: url('../images/character/Torio.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  padding-left: 50px;
  margin: 0;
}

.wave-bg {
  background-image: url(../images/about/background-wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 50px;
}


footer {
  margin-top: 0;
}

@media (max-width: 800px) {

  .header-top {
    height: 300px;
  }

  h2 {
    margin: 15px auto;
  }

  h2::before {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;

  }

  .section-item {
    display: block;
    width: 750px;
    max-width: 90%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    /* align-items: flex-start; */
  }

  .section-item img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

    .about-crab{
    margin: 0 20px;
  }

  .about-crab h2::after {
    width: 100px;
    height: 100px;
  }

  .about-history {
    position: relative;
    padding-top: 50px;
  }

  .about-history h2 {
    margin-bottom: -15px;
  }

  .about-history h2::after {
    position: absolute;
    top: -100px;
    right: 30vw;
    width: 180px;
    height: 180px;
    padding-left: 0;
    padding-bottom: 30px;
  }


  .summary {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .text-title {
    margin-right: 0;
    margin-top: 35px;
    font-size: 20px;
  }

  .description {
    max-width: 100%;
    margin-right: 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.5rem;
  }

  .reverse>div:first-child {
    margin-left: 0;
    margin-right: 0;
  }

  .ecology-feed-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    width: 100%;
    aspect-ratio: 4 / 3;
    gap: 4px;
  }


}